Source: it87-dkms
Section: misc
Priority: optional
Maintainer: Frank Crawford <frank@crawford.emu.id.au>
Build-Depends: debhelper (>= 9), dkms

Package: it87-dkms
Architecture: linux-any
Depends: ${misc:Depends}, dkms
Description: it87
